$black: #25262a;
$accent: #2d2e32;

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  background-color: $black;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.fixed{
      overflow: hidden;
  position: fixed;
}

.modal {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: absolute;

  .main {
    width: 40%;
    height: 300px;
    display: flex;
    padding: 30px;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: $accent;

    .close {
      position: absolute;
      top: 5%;
      right: 5%;
    }
    h2 {
      font-size: 1.5rem;
    }
    input {
      border: none;
      appearance: none;
      outline: none;
      width: 60%;
      padding: 10px;
      height: 30px;
      font-size: 1.2rem;
      border-radius: 5px;
    }
    button {
      border: none;
      appearance: none;
      outline: none;
      color: white;
      background-color: #0077b5;
      font-size: 1rem;
      padding: 15px;
      width: 120px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;

  .social {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    width: 30%;
    height: 300px;
    background-color: blueviolet;
    margin-bottom: 2rem;
    cursor: pointer;

    .banner {
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .link {
      height: 30%;
      background-color: $accent;
      padding-left: 35px;

      p {
        font-family: "Poppins", sans-serif;
        font-size: 0.85rem;
      }
    }
  }
  .instagram {
    background: #f09433;
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
  }
  .twitter {
    background-color: #3cb6fd;
  }
  .dribble {
    background-color: #ff1d84;
  }
  .linkedin {
    background-color: #0077b5;
  }
  .facebook {
    background-color: #4867aa;
  }
  .github {
    background-color: #1b1f23;
  }
  .behance {
    background-color: #8a2be2;
  }
  .stack-overflow {
    background-color: #ec7c22;
  }
  .personal {
    background-color: #da4a5d;
  }
}
.none {
  display: none !important;
}
.flex {
  display: flex !important;
}
