$black : #25262a;
$accent: #2d2e32;


@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body{
    background-color: $black;
    font-family: 'Montserrat',sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .circle{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;

    }
    img{
        width: 100%;
        height: auto;
    }
}

.socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .social{
        display: flex;
        border-radius: 5px;
        flex-direction:column;
        width: 30%;
        height: 300px;
        background-color: blueviolet;
        margin-bottom: 2rem;

        .banner{
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .link{
            height: 30%;
            background-color: $accent;
            padding-left: 35px;

            p{
                font-family: 'Poppins',sans-serif;
                font-size: 0.85rem;
            }

        }
    }
    .instagram{
        background: #f09433; 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    }
    .twitter{
        background-color: #3CB6FD;
    }
    .dribble{
        background-color: #FF1D84;
    }
    .linkedin{
        background-color: #0077B5;
    }
    .facebook{
        background-color: #4867AA;
    }
    .github{
        background-color: #1B1F23;
    }
    .behance{
        background-color: #8A2BE2;
    }
    .stack-overflow{
        background-color: #EC7C22;
    }
    .personal{
        background-color: #262626;
    }
}