@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  background-color: #25262a;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

<<<<<<< HEAD
a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
}

body::-webkit-scrollbar {
  display: none;
}

=======
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
<<<<<<< HEAD
  -ms-flex-pack: justify;
  justify-content: space-between;
=======
      -ms-flex-pack: justify;
          justify-content: space-between;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  padding: 20px;
}

header .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

header img {
  width: 100%;
  height: auto;
}

.fixed {
<<<<<<< HEAD
  /* overflow: hidden; */
=======
  overflow: hidden;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  position: fixed;
}

.modal {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  display: none;
  -webkit-box-pack: center;
<<<<<<< HEAD
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
=======
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

.modal .main {
  width: 40%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
<<<<<<< HEAD
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
=======
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  background-color: #2d2e32;
}

.modal .main .close {
  position: absolute;
  top: 5%;
  right: 5%;
<<<<<<< HEAD
  width: 40px;
  height: 40px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #25262a;
=======
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
}

.modal .main h2 {
  font-size: 1.5rem;
}

.modal .main input {
  border: none;
  -webkit-appearance: none;
<<<<<<< HEAD
  -moz-appearance: none;
  appearance: none;
=======
     -moz-appearance: none;
          appearance: none;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  outline: none;
  width: 60%;
  padding: 10px;
  height: 30px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.modal .main button {
  border: none;
  -webkit-appearance: none;
<<<<<<< HEAD
  -moz-appearance: none;
  appearance: none;
=======
     -moz-appearance: none;
          appearance: none;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  outline: none;
  color: white;
  background-color: #0077b5;
  font-size: 1rem;
  padding: 15px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
<<<<<<< HEAD
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
=======
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  margin-top: 1rem;
}

.socials .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
<<<<<<< HEAD
  -ms-flex-direction: column;
  flex-direction: column;
=======
      -ms-flex-direction: column;
          flex-direction: column;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  width: 30%;
  height: 300px;
  background-color: blueviolet;
  margin-bottom: 2rem;
  cursor: pointer;
}

.socials .social *[data-tooltip] {
  position: relative;
}

.socials .social *[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;
  pointer-events: none;
  opacity: 0;
<<<<<<< HEAD
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
=======
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  display: block;
  font-size: 12px;
  line-height: 16px;
  background: #fefdcd;
  color: black;
  font-size: 1rem;
  padding: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
<<<<<<< HEAD
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
=======
          box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
}

.socials .social *[data-tooltip]:hover::after {
  opacity: 1;
}

.socials .social .banner {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
<<<<<<< HEAD
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
=======
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
}

.socials .social .link {
  height: 30%;
  background-color: #2d2e32;
  padding-left: 35px;
}

<<<<<<< HEAD
.socials .social .link a {
=======
.socials .social .link p {
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
}

.socials .instagram {
  background: #f09433;
<<<<<<< HEAD
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
=======
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
}

.socials .twitter {
  background-color: #3cb6fd;
}

.socials .dribble {
  background-color: #ff1d84;
}

.socials .linkedin {
  background-color: #0077b5;
}

.socials .facebook {
  background-color: #4867aa;
}

.socials .github {
  background-color: #1b1f23;
}

.socials .behance {
  background-color: #8a2be2;
}

.socials .stack-overflow {
  background-color: #ec7c22;
}

.socials .personal {
  background-color: #da4a5d;
}

.none {
  display: none !important;
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media only screen and (max-width: 992px) {
  .hide-sm {
    display: none;
  }
  .col-sm {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
<<<<<<< HEAD
    -ms-flex-direction: column !important;
    flex-direction: column !important;
=======
        -ms-flex-direction: column !important;
            flex-direction: column !important;
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
    padding: 10px;
    width: 100%;
  }
  .modal-sm {
    width: 75% !important;
  }
  .col-item {
    width: 95% !important;
  }
}
<<<<<<< HEAD
/*# sourceMappingURL=styles.css.map */
=======
/*# sourceMappingURL=styles.css.map */
>>>>>>> 8001bb94630c8c1a3b168f8bb568ea86a4aa8792
